# bash-tools scripts to ignore
sfTrustResult.new
sfTrustResult.old
hasChanged
tmpFile
newDate
oldDate
diffResult.txt
listofActiveSandboxes.csv

# Node build artifacts
node_modules
npm-debug.log

# Local development
.vscode
.env
*.env
*.dev
*.log
.DS_Store
.eslintrc.js
.sass-cache
/html

# Docker
Dockerfile
docker-compose.yml
