# bash-tools scripts to ignore
sfTrustResult.new
sfTrustResult.old
srv-prd-info.new
srv-prd-info.old
hasChanged
srvprd_hasChanged
tmpFile
newDate
oldDate
diffResult.txt
listofActiveSandboxes.csv
sbInstanceDefects*
jwstTempCheckResult.new
jwstOut
0
/downloads
/output

# Node build artifacts
node_modules
npm-debug.log

# Local development
.vscode
.env
.venv
.ipynb_checkpoints
.swp
*.env
*.dev
*.log
.DS_Store
.eslintrc.js
.sass-cache
/html

# Docker
Dockerfile
docker-compose.yml
